streamlit>=1.30
pandas>=2.2
numpy>=2.0
plotly>=5.20
statsmodels>=0.14.2
scikit-learn>=1.4
prophet>=1.1
cmdstanpy>=1.2
sdmx1>=2.14.0
requests>=2.31
beautifulsoup4>=4.12
requests-toolbelt>=1.0.0
pdfminer.six>=20221105
lxml>=4.9
openpyxl>=3.1
XlsxWriter>=3.1
python-dateutil>=2.8
packaging>=23.0
